@page "/PracticalOrder"
@inject IInaccuracyFinder _inaccuracyFinder
@inject IDUSolver _duSolver

<div class="row">
    <div class="col-3">
        <h4>Практический порядок для метода рунге:</h4>
        <h5>@PForRunge</h5>
        </div>
    <div class="col-3">
        <h4>Практический порядок для явного метода:</h4>
        <h5>@PForExplicitAdams</h5>
    </div>
    <div class="col-3">
        <h4>Практический порядок для неявного метода:</h4>
        <h5>@PForImplicitAdams</h5>
    </div>
</div>

@code {
    double PForImplicitAdams ;
    double PForExplicitAdams;
    double PForRunge;

    protected override Task OnInitializedAsync()
    {
        PForImplicitAdams = _inaccuracyFinder.FindPForImplicitAdamsMethod();

        PForExplicitAdams = _inaccuracyFinder.FindPForExplicitAdamsMethod();

        PForRunge = _inaccuracyFinder.FindPForMethodRunge();

        return base.OnInitializedAsync();
    }
}
