@inherits LayoutComponentBase

<div class="page">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
